@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .animate{
    @apply bg-opacity-50  relative  bg-transparent shadow-2xl shadow-blue-400 border-l-8 px-20 border-t-8 ease-in rounded-2xl ;
    box-shadow: #0aabf6 21px 10px 21px 1px;
    transition: all 1s ease-in-out;
    
  }
  .shadow-b {
  color: #08f0a393;
   text-shadow: #0c44d1cb -3px 3px 1px ;
   transition: all 1s ease-in-out;
  
   box-shadow: #0aabf6 10px 10px 21px 1px;
  }
  .shadow-b:hover {
    text-shadow: #159cc9 -3px 3px 1px ;
  }
  .home {
   text-shadow: #0c44d1cb -3px 3px 1px ;
   transition: all 1s ease-in-out;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
   box-shadow: #0aabf6 2px 2px 5px 1px;
  }
  .home:hover {
    color: #0aabf6;
  }
  .scrolle{
    
    scrollbar-face-color: #ce6060;
    scrollbar-color: red;
    
  }
  .main{
   text-shadow: #c44545;
   text-shadow: 2rem;
   background-color: #c44545;
  }
 
}

@keyframes pulse {
    0% {
      background-color: #1cd52e;
      color: white;
      opacity: 1;
    }
    50% {
        background-color: #1fb924;
        color: white;
        
        opacity: 0.75;
    }
    100% {
        
        color: white;
      opacity: 1;
    }
  }
  .my-element {
    animation: pulse 2s ease-in-out infinite;
  }

@keyframes pulses {
    0% {
      background-color: #ce6060;
      color: white;
      opacity: 1;
    }
    50% {
        background-color: #c44545;
        color: white;
        
        opacity: 0.75;
    }
    100% {
        
        color: white;
        opacity: 1;
    }
  }
  
  /* Apply the animation to an element */
  .element {
    animation: pulses 2s ease-in-out infinite;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    box-shadow: #1fb924;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(35, 190, 225);
 transition: all 2s ease-in-out;
 box-shadow: #1fb924;
 border-radius: 4px;
}
::-webkit-scrollbar-thumb:focus-visible {
  background-color: rgb(227, 111, 111);
  
  transition: all 2s ease-in-out;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(14, 2, 2);
    border-radius: 4px;
  }
  