@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .animate{
    @apply bg-opacity-50  relative bg-green-400  ;
    }

}

@keyframes pulse {
    0% {
      background-color: #1cd52e;
      color: white;
      opacity: 1;
    }
    50% {
        background-color: #1fb924;
        color: white;
        
        opacity: 0.75;
    }
    100% {
        
        color: white;
      opacity: 1;
    }
  }
  .my-element {
    animation: pulse 2s ease-in-out infinite;
  }

@keyframes pulses {
    0% {
      background-color: #ce6060;
      color: white;
      opacity: 1;
    }
    50% {
        background-color: #c44545;
        color: white;
        
        opacity: 0.75;
    }
    100% {
        
        color: white;
        opacity: 1;
    }
  }
  
  /* Apply the animation to an element */
  .element {
    animation: pulses 2s ease-in-out infinite;
  }